
p {
    font-family: Arial;
    font-size: 24px;
    color: darkslategrey;
}

input {
    font-size: 20px; 
}

h1 {
    font-family: Helvetica;
    font-size: 30px;
    color: darkblue;
}

